.flex {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: scroll;
}
.CodeMirror {
  font-family: Arial, monospace;
  font-size: 16px;
}
.p70 {
  flex: 0 0 66vh;
  height: 66vh;
  overflow: scroll;
}
