.background {
  background-color: rgb(50, 50, 50);
}
.whitetext {
  color: white;
  font-size: 16px;
  font-family: monospace;
  font-weight: bold;
}
.padding {
  padding: 15px 5px 5px 15px;
}

.flex_row {
  display: flex;
  flex-direction: row;
}

.width_full {
  width: 100%;
}

.flex_right {
  flex-direction: row-reverse;
}

.flex_space_between {
  justify-content: space-between;
}
.file_buttons {
  overflow: scroll;
}
.file_button {
  user-select: none;
  padding: 0px 40px;
  height: 100%;
  background-color: rgb(39, 39, 39);
  border: 1px solid rgb(70, 70, 70);
  display: flex;
  align-items: center;
  justify-content: center;
}
.file_buttons::-webkit-scrollbar {
  display: none;
}
.file_button:hover {
  background-color: rgb(78, 24, 129);
  cursor: pointer;
}

.static_button {
  user-select: none;
  width: 80px;
  height: 100%;
  background-color: rgb(39, 39, 39);
  border: 1px solid rgb(70, 70, 70);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.run_button {
  background-color: rgb(0, 154, 23);
  border: 0px;
}
.run_button:hover {
  background-color: rgb(0, 126, 19);
}

.delete_button {
  background-color: rgb(204, 37, 0);
  border: 0px;
}
.delete_button:hover {
  background-color: rgb(119, 0, 0);
}

.add_button {
  background-color: rgb(60, 60, 255);
}

.add_button:hover {
  background-color: rgb(45, 45, 199);
}

.submit_button {
  padding: 0;
  margin: 0;
  border: 0;
}

.highlight {
  background-color: blueviolet;
}

.overflow_scroll {
  overflow: scroll;
}
