.background {
  background-color: whitesmoke;
}
.flex {
  display: flex;
  flex-direction: column;
}
.padding {
  padding: 15px 5px 5px 15px;
}
.p100 {
  height: 100vh;
  overflow: scroll;
}
.p100::-webkit-scrollbar {
  display: none;
}
.link {
  color: blue;
  position: relative;
  cursor: pointer;
  user-select: none;
}
.link:hover {
  text-decoration: underline;
}
